$light-font-color: #FFF; //white
$dark-font-color-base: #000; //black
$dark-font-color-button: #1E4C36; //green
$bottom-line-nav-link: #409b7f; //green-medium
$bottom-line-nav: #ebebeb; //gray
$bottom-line-conteudo: #d8d8d8; 
$color-text-menu: #999;
$dark-back-footer: #4A4A4A; //dark gray
$medium-back-footer: #f3f3f3; //medium gray